name: brain-games-check
on:
  push:
    branches:
      - '**'
jobs:
  my-job:
    runs-on: ubuntu-latest
      steps:
         - uses: actions/checkout@v2
         - name: setup-python
           uses: actions/setup-python@v2
         - name: install1
           run:  pip install poetry
         - name: install2
           run: make install
         - name: my_poetry_run_flake8
           run: make lint
